ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: #ffffff;
  overflow: auto;
  border-bottom: #777777 solid 5px;
}
li {
  display: inline;
  float: right;
}
a {
  color: #777777;
  display: block;
  font-family: arial;
  padding: 8px;
  text-decoration: none;
}
.a {
  color: #ffffff;
  background-color: #4aaaa5;
  margin-left: 50px;
  overflow: auto;
  padding: 27px 27px 27px 35px;
  font-size: 24px; 
  font-weight: bold;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: #4aaaa5 solid 5px;
  background-color: #777777;
  padding: 30px;
}