
body {
    background-image: url('assets/images/circles-and-roundabouts.png');
}

h1, h2, #active {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

.topnav {
    background-color: #4aaaa5;
}